html {
  box-sizing: border-box;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.banner {
  position: relative;
  max-height: 500px;
  overflow: hidden;
}

.placeholder {
  display: block;
  width: 100%;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  left: 47%;
  transform: translateX(-50%);
  top: .25em;
  max-width: 37em;
  max-height: 500px;
  height: 90%;
  overflow: hidden;
  padding-bottom: 1em;
}

.img-flex {
  width: 100%;
  display: block;
  padding-left: .5em;
  min-width: 14em;
  padding-bottom: 3.5em;
}

.text {
  padding-left: 2em;
  padding-top: 1.5em;
}

h2 {
  font-size: 3rem;
  line-height: 1.25;
  font-family: "Roboto Condensed", sans-serif;
  display: inline;
}

p {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: Roboto, sans-serif;
  margin-bottom: 2rem;
  margin-top: .5rem;
}

.btn {
  font-size: 1.5rem;
  background-color: #333;
  color: #fff;
  border: 1px solid #333;
  border-radius: 8px;
  padding: .75em;
  text-decoration: none;
  text-align: center;
}

.btn-big {
  font-family: Roboto, sans-serif;
}

.btn:hover {
  background-color: #000;
}
